@import "variables";
@import "mixins";

body {
  color: $color-main;
  font-family: 'Myriad Pro Light';
  font-style:   normal;
  font-weight:  200;
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#090d22+0,1a2655+50,213b72+100 */
  background: #090d22; /* Old browsers */
  background: -moz-linear-gradient(left,  #090d22 0%, #1a2655 50%, #213b72 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #090d22 0%,#1a2655 50%,#213b72 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #090d22 0%,#1a2655 50%,#213b72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#090d22', endColorstr='#213b72',GradientType=1 ); /* IE6-9 */
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  background: #c58c1e; /* Old browsers */
  background: -moz-linear-gradient(left,  #c58c1e 0%, #fecf8d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #c58c1e 0%,#fecf8d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #c58c1e 0%,#fecf8d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c58c1e', endColorstr='#fecf8d',GradientType=1 ); /* IE6-9 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  color: $color-accent;
  font-size: 1.2em;
  font-weight: 200;
  margin-top: 0;
  line-height: 1.1;

  @include respond-to(small) {
    font-size: 1.4em;
  }

  @include respond-to(medium) {
    font-size: 2em;
  }

  @include respond-to(large) {
    font-size: 2.2em;
  }

  @include respond-to(x-large) {
    font-size: 2.6em;
  }
}

h1 {
  margin-bottom: $grid;
  max-width: $sizeXL;
}

h2 {
  color: $color-accent;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: $grid*2;
  font-size: 1.1em;
  border-bottom: 3px solid #fff;
  padding-bottom: $grid;
  width: 100%;

  @include respond-to(small) {
    font-size: 1.4em;
  }

  @include respond-to(medium) {
    font-size: 1.6em;
  }

  @include respond-to(large) {
    font-size: 2em;
  }
}

h3 {
  color: $color-accent;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: $grid/2;
  font-size: 1.1em;

  @include respond-to(small) {
    font-size: 1.2em;
  }

  @include respond-to(medium) {
    font-size: 1.4em;
  }

  @include respond-to(large) {
    font-size: 1.6em;
  }
}

p {
  margin-top: 0;
  margin-bottom: $grid;
}

a {
  color: $color-main;
  text-decoration: none;
}

ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-wrap: wrap;

  padding: $grid;
  padding-top: $grid*2;

  @include respond-to(large) {
    margin: auto;
    padding-top: $grid*4;
    width: $sizeXL;
  }
}

.pin {
  width: 14px;
  margin-right: $grid/5;
  margin-bottom: 4px;
}

.address {
  display: flex;
  align-items: center;
}

.col-2 {
  width: 100%;

  @include respond-to(medium) {
    width: 50%;
  }
}

.night-logo {
  width: 220px;
  margin: auto;
  margin-bottom: $grid;

  @include respond-to(small) {
    width: 300px;
  }

  img {
    display: block;
    width: 100%;
  }
}

.visa-logo {
  width: 160px;
  margin-bottom: $grid;

  @include respond-to(small) {
    width: 180px;
  }

  img {
    display: block;
    width: 100%;
  }
}

a {
  color: $color-accent;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  margin-bottom: $grid;
}

.museum {
  width: 100%;
  margin-bottom: $grid*2;
}

.info {
  margin-bottom: $grid/2;
  width: 100%;

  @include respond-to(small) {
    margin-bottom: 0;
    width: auto;
  }
}

.button {
  display: inline-block;
  transition: background .3s $baseTransitionStyle, color .3s $baseTransitionStyle;
  border: 3px solid $color-accent;
  padding: $grid/2 $grid;
  color: $color-accent;

  &:hover {
    background: $color-accent;
    color: #090d22;
  }
}

.exhibitions {
  border: 3px solid #fff;
  padding: $grid;
  padding-bottom: 0;
}

.cards {
  width: 100%;
  margin-bottom: $grid;

  img {
    display: block;
    width: 100%;
  }
}

.footer .disclaimer {
  font-size: .6em;
  margin-bottom: $grid*2;

  @include respond-to(medium) {
    width: 50%;
  }

  p {
    margin-bottom: $grid/2;
  }
}

.event {
  margin-bottom: $grid*2;
}
